#create-orphanage {
    display: flex;
    min-height: 100vh;
}

main {
    flex: 1;
}

.map-container {
    margin: 0 0 4rem;
}

.map-container .leaflet-container {
    border-radius: 20px 20px 0 0;

}

.map-container footer {
    background: #f5f8fa;
    border-radius: 0 0 20px 20px;
}
.button-select{
    display:grid;
    grid-template-columns: 1fr 1fr;
}
.button-select button {
    height: 6.4rem;
    background: #F5F8FA;
    border: 1px solid #D3E2E5;
    color: #5C8599;
    cursor: pointer;
}

.button-select button.active {
    background: #EDFFF6;
    border: 1px solid #A1E9C5;
    color: #37C77F;
}

.button-select button:first-child {
    border-radius: 2rem 0 0 2rem;
}

.button-select button:last-child {
    border-radius: 0 2rem 2rem 0;
}